[View in Colaboratory](https://colab.research.google.com/github/Oluemeka/hello-world/blob/master/DLN_Recommendation_Kaggle.ipynb)

In [0]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
import re

In [0]:
os.getcwd()

'C:\\Users\\0wner'

In [0]:
os.chdir(r'C:\Users\0wner\Documents\Data Science\Kaggle Comps\DLN18')

In [0]:
df=pd.read_csv('train.csv')

In [0]:
df.head(5)

  Viewers_ID         Joke_identifier                Response_ID  Rating
0         A1  Klint De Drunk Enugu 1  A1_Klint De Drunk Enugu 1    0.11
1         A1  Klint De Drunk Enugu 2  A1_Klint De Drunk Enugu 2   -4.64
2         A1     Klint De Drunk PH 1     A1_Klint De Drunk PH 1   -3.39
3         A1     Klint De Drunk PH 2     A1_Klint De Drunk PH 2    0.44
4         A1  Klint De Drunk Lagos 1  A1_Klint De Drunk Lagos 1   -4.83

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612702 entries, 0 to 612701
Data columns (total 4 columns):
Viewers_ID         612702 non-null object
Joke_identifier    612702 non-null object
Response_ID        612702 non-null object
Rating             612702 non-null float64
dtypes: float64(1), object(3)
memory usage: 11.7+ MB

In [0]:
df.describe()

              Rating
count  612702.000000
mean        0.647024
std         2.667301
min        -5.000000
25%        -1.300000
50%         0.950000
75%         2.690000
max         5.000000

In [0]:
#This is to determine the number of unique users and jokes
n_users=df.Viewers_ID.unique().shape[0]
n_jokes=df.Joke_identifier.unique().shape[0]
print("Number of users:" + str(n_users) + " Number of jokes:" + str(n_jokes))

Number of users:40863 Number of jokes:127

In [0]:
df['Number']= df['Joke_identifier'].str.extract('(\d)', expand=True)

In [0]:
df['Comedian'] = df['Joke_identifier'].str.extract('([A-Z]\w{0,})', expand=True)

In [0]:
df.head()

,Viewers_ID,Joke_identifier,Response_ID,Rating,Number,Comedian
0,A1,Klint De Drunk Enugu 1,A1_Klint De Drunk Enugu 1,0.11,1,Klint
1,A1,Klint De Drunk Enugu 2,A1_Klint De Drunk Enugu 2,-4.64,2,Klint
2,A1,Klint De Drunk PH 1,A1_Klint De Drunk PH 1,-3.39,1,Klint
3,A1,Klint De Drunk PH 2,A1_Klint De Drunk PH 2,0.44,2,Klint
4,A1,Klint De Drunk Lagos 1,A1_Klint De Drunk Lagos 1,-4.83,1,Klint

In [0]:
n_comedians=df.Comedian.unique().shape[0]
print("Number of Comedians:" + str(n_comedians))
df.Comedian.value_counts()

Number of Comedians:13

Klint          201041
AliBaba         82929
I               64809
Bovi            63318
Akpororo        63020
AY              62161
BasketMouth     46698
Seyi            18864
Gordons          8561
Helen            1144
Saka              132
Funny              13
Okey               12
Name: Comedian, dtype: int64

In [0]:
# Extract the location from the Joke identifier column
df['Location']= df.Joke_identifier.str.split(' ')
df['Location']=df['Location'].str[-2]
df.head()

,Viewers_ID,Joke_identifier,Response_ID,Rating,Number,Comedian,Location
0,A1,Klint De Drunk Enugu 1,A1_Klint De Drunk Enugu 1,0.11,1,Klint,Enugu
1,A1,Klint De Drunk Enugu 2,A1_Klint De Drunk Enugu 2,-4.64,2,Klint,Enugu
2,A1,Klint De Drunk PH 1,A1_Klint De Drunk PH 1,-3.39,1,Klint,PH
3,A1,Klint De Drunk PH 2,A1_Klint De Drunk PH 2,0.44,2,Klint,PH
4,A1,Klint De Drunk Lagos 1,A1_Klint De Drunk Lagos 1,-4.83,1,Klint,Lagos

In [0]:
df.head()

,Viewers_ID,Joke_identifier,Response_ID,Rating,Number,Comedian,Location
0,A1,Klint De Drunk Enugu 1,A1_Klint De Drunk Enugu 1,0.11,1,Klint,Enugu
1,A1,Klint De Drunk Enugu 2,A1_Klint De Drunk Enugu 2,-4.64,2,Klint,Enugu
2,A1,Klint De Drunk PH 1,A1_Klint De Drunk PH 1,-3.39,1,Klint,PH
3,A1,Klint De Drunk PH 2,A1_Klint De Drunk PH 2,0.44,2,Klint,PH
4,A1,Klint De Drunk Lagos 1,A1_Klint De Drunk Lagos 1,-4.83,1,Klint,Lagos

In [0]:
#Use one hot encoding to preprocess the categorical features
location_encoded=pd.get_dummies(df["Location"])

In [0]:
comedian_encoded=pd.get_dummies(df["Comedian"])

In [0]:
df=df.join(location_encoded)

In [0]:
df=df.join(comedian_encoded)

In [0]:
df.head()

,Viewers_ID,Joke_identifier,Response_ID,Rating,Number,Comedian,Location,1,Abuja,Benin,...,BasketMouth,Bovi,Funny,Gordons,Helen,I,Klint,Okey,Saka,Seyi
0,A1,Klint De Drunk Enugu 1,A1_Klint De Drunk Enugu 1,0.11,1,Klint,Enugu,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,A1,Klint De Drunk Enugu 2,A1_Klint De Drunk Enugu 2,-4.64,2,Klint,Enugu,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,A1,Klint De Drunk PH 1,A1_Klint De Drunk PH 1,-3.39,1,Klint,PH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,A1,Klint De Drunk PH 2,A1_Klint De Drunk PH 2,0.44,2,Klint,PH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,A1,Klint De Drunk Lagos 1,A1_Klint De Drunk Lagos 1,-4.83,1,Klint,Lagos,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [0]:
df.drop(['Joke_identifier','Response_ID', 'Number', 'Location', 'Comedian'], axis=1, inplace=True)

In [0]:
#import the scikit learn library and define the variables
from sklearn.tree import DecisionTreeRegressor
dfx=df[df.columns.difference(['Viewers_ID','Rating'])]
X=dfx
y=df.Rating

In [0]:
#Let us rescale the target variable using the MinMax Scaler
#from sklearn.preprocessing import MinMaxScaler
#scaler =MinMaxScaler(feature_range=(0,1))
#Y=scaler.fit_transform(y)

In [0]:
#Let us rescale the target variable using Standard Scaler
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler().fit(y)
Y=scaler.transform(y)

C:\Users\0wner\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\0wner\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [0]:
#Create decision tree classifier object
regr = DecisionTreeRegressor(random_state=0)

In [0]:
model=regr.fit(X, Y)

In [0]:
#load the test dataset
test=pd.read_csv('test.csv')

###Prepare the test dataset for prediction

In [0]:
test['Number']= test['Joke_identifier'].str.extract('(\d)', expand=True)

In [0]:
test['Comedian'] = test['Joke_identifier'].str.extract('([A-Z]\w{0,})', expand=True)

In [0]:
# Extract the location from the Joke identifier column
test['Location']= test.Joke_identifier.str.split(' ')
test['Location']=test['Location'].str[-2]
test.head()

  Viewers_ID   Joke_identifier          Response_ID Number  Comedian Location
0         A1  Akpororo Lagos 1  A1_Akpororo Lagos 1      1  Akpororo    Lagos
1         A1  Akpororo Abuja 1  A1_Akpororo Abuja 1      1  Akpororo    Abuja
2         A1  Akpororo Abuja 5  A1_Akpororo Abuja 5      5  Akpororo    Abuja
3         A1  I Go Dye Benin 1  A1_I Go Dye Benin 1      1         I    Benin
4         A1  I Go Dye Benin 3  A1_I Go Dye Benin 3      3         I    Benin

In [0]:
#Use one hot encoding to preprocess the categorical features
location_encoded=pd.get_dummies(test["Location"])

In [0]:
comedian_encoded=pd.get_dummies(test["Comedian"])

In [0]:
test=test.join(location_encoded)

In [0]:
test=test.join(comedian_encoded)

In [0]:
test.drop(['Joke_identifier','Response_ID', 'Number', 'Location', 'Comedian'], axis=1, inplace=True)

In [0]:
testx=test[test.columns.difference(['Viewers_ID','Rating'])]
x_test=testx

In [0]:
results=model.predict(x_test)

In [0]:
submission = pd.DataFrame({
        "Rating": results
    })

In [0]:
submission.to_csv("My_Submission3.csv", index=False)

In [0]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435873 entries, 0 to 435872
Data columns (total 1 columns):
Rating    435873 non-null float64
dtypes: float64(1)
memory usage: 3.3 MB

In [0]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435873 entries, 0 to 435872
Data columns (total 25 columns):
Viewers_ID     435873 non-null object
1              435873 non-null float64
Abuja          435873 non-null float64
Benin          435873 non-null float64
Ibadan         435873 non-null float64
Lagos          435873 non-null float64
Owerri         435873 non-null float64
PH             435873 non-null float64
Rock           435873 non-null float64
Uyo            435873 non-null float64
Warri          435873 non-null float64
AY             435873 non-null float64
Akpororo       435873 non-null float64
AliBaba        435873 non-null float64
BasketMouth    435873 non-null float64
Bovi           435873 non-null float64
Funny          435873 non-null float64
Gordons        435873 non-null float64
Helen          435873 non-null float64
I              435873 non-null float64
Klint          435873 non-null float64
MisterIbu      435873 non-null float64
Okey           435873 non-null float64
Saka           435873 non-null float64
Seyi           435873 non-null float64
dtypes: float64(24), object(1)
memory usage: 81.5+ MB